@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&family=Work+Sans&display=swap');

body{
    margin: 0;
}
/* DEBUT MAIN */
    /* DEBUT DESCRIPTION */
.description{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-left: 50px;
    justify-content: space-between;
}
.description .left{
    max-width: 45%;
}
.description .left h2{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #353535;
    text-shadow: 0px 1px 0px rgb(19, 16, 16);
}
.description .left .texte{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    font-size: 16px;
    color: #6E757C;
    margin-bottom: 35px;
}
.description .right img{
    width: 555px;
}
    /* FIN DESCRIPTION */
    /* ----------- */
    /* DEBUT JOIN NEWSLETTER */
.join{
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    align-items: center;
    height: 185px;
    padding: 0px 100px 0px;
}
.join .texte{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;

}
.join .buttonjoin{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    text-align: center;
    color: black;@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&family=Work+Sans&display=swap');
    background-color: #F6ecd4;
    border-color: #F2CD73;
    border-style: solid;
    border-width:thin;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    padding: 10px 15px 10px;
}
    /* FIN JOIN NEWSLETTER */
    /* ----------- */
    /* DEBUT SIGNATURES */
.titre-signatures{
    height: 140px;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    margin-left: 50px;
}
.signatures{
    display: flex;
    height: 500px;
    margin-left: 50px;
}
.signatures .signature img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.signatures .signature h3{
    font-family: 'Work Sans', sans-serif;
    color: #353535;
    font-size: 18px;
    text-shadow: 0px 1px 0px rgb(19, 16, 16);
}
.signatures .signature .texte{
    font-family: 'Ubuntu', sans-serif;
    color: #7E856B;
    font-size: 16px;
}
.signatures .signature a{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: #F6ecd4;
    border-color: #F2CD73;
    border-style: solid;
    border-width:thin;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    padding: 10px 15px 10px;
}
    /* FIN SIGNATURES */
    /* ----------- */
    /* DEBUT ARTICLES */
.articles{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(209, 208, 208);
    justify-content: space-between;
    align-items: center;
    height: 455px;
    padding: 0px 100px 0px;
}
.articles .left{
    max-width: 43%;
}
.articles .left h2{
    font-family: 'Work Sans', sans-serif;
    color: #000000;
    font-size: 22px;
    text-shadow: 0px 1px 0px rgb(19, 16, 16);
}
.articles .left .contenu{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
.articles .left .auteur{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    text-align: end;
    margin-right: 5px;
}
.articles .right img{
    width: 550px;
}
    /* FIN ARTICLES */
/* FIN MAIN */

@media screen and (max-width:750px){
    /* --------------- DESCRIPTION ---------------- */
    .description{
        padding: 0px 55px 0px;
        margin-left: 0px;
    }
    .description .left{
        max-width: 100%;
    }
    .description .right img{
        width: 100%;
        height: auto;
    }

    /* --------------- JOIN ---------------- */
    .join{
        height: 260px;
    }
    .join .texte{
    max-width: 50%;
    }
    .join button{
    padding: 6px;
    }
    /* --------------- SIGNATURES ---------------- */
    .titre-signatures{
        height: 180px;
        padding: 0px 55px 0px;
        margin-left: 0px;
    }
    .signatures{
        padding: 0px 55px 0px;
        height: 1050px;
        flex-wrap: wrap;
        margin-left: 0px;
    }
    /* ---------------- ARTICLE -------------------*/
    .articles{
        height: 650px;
        padding: 60px 90px 60px;
    }
    .articles .right img{
        margin-left: auto;
        margin-right: auto;
    }
    .articles .left{
        padding-left: 0px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}

@media screen and (max-width:500px){
    /* --------------- DESCRIPTION ---------------- */
    .description{
        padding: 0px 55px 0px;
    }
    .description .left{
        max-width: 100%;
    }
    .description .right img{
        width: 100%;
        height: auto;
    }
    /* --------------- JOIN ---------------- */
    .join{
        height: 390px;
    }
    .join .texte{
    max-width: 50%;
    }
    main .join button{
    padding: 6px;
    }
    /* --------------- SIGNATURES ---------------- */
    .titre-signatures{
        height: 170px;
        padding: 0px 55px 0px;
    }
    .signatures{
        padding: 0px 55px 0px;
        height: 1260px;
        flex-wrap: wrap;
    }
    /* ---------------- ARTICLE -------------------*/
    .articles{
        height: 820px;
    }
    .articles .right img{
        width: 320px;
    }
    .articles .left{
        padding-left: 0px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}