main{
    padding: 0px 150px 0px;
}
.titre-signatures{
    height: 140px;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    margin-bottom: -38px;
    align-content: flex-start;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0px 1px 0px rgb(19, 16, 16);
}
.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background-color: #dfc4c4;
    align-items: center;
    height: 455px;
    margin-bottom: 50px;
}
.articles .left{
    max-width: 40%;
}
.articles .left .contenu{
    font-size: 16px;
}
.articles .left .prix{
    font-weight: bold;
    font-size: 14px;
    color: rgb(133, 113, 1);
}
.articles .right img{
    width: 350px;
}
.texte{
    justify-content: center;
    text-align: center;
}
.boxpastries{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 100px 0px;
}
.pastrie img{
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50%;
}
@media screen and (max-width:750px){
    main{
        padding: 0px 20px 0px;
    }
    .articles{
        height: auto;
        padding-bottom: 30px;
    }
    .titre-signatures{
        margin-left: 65px;
    }
    .articles .left{
        max-width: 80%;
    }
    .articles .right img{
        width: 570px;
    }
    .boxpastries{
        padding: 0px 150px 0px;
    }
}

@media screen and (max-width:500px){
    .titre-signatures{
        margin-left: 45px;
    }
    .articles .right img{
        width: 400px;
    }
    .boxpastries{
        padding: 0px 100px 0px;
    }
}